.header-container{
    width: 60%;
    font-size: @title-font-size;
    font-weight: bold;
    line-height: 1.2em;
}

.title{
    font-weight: 700;
    font-size: @title-font-size;    
}

.title-sub-text{
    font-size: @title-sub-text-font-size;
    width: 70%;
}

.line{
    width: 10%;
    border:0; 
    height:4px;
}

.second-line{
    .line;
    background: @second-panel-line-color;
}

.third-line{
    .line;
    background: @third-panel-line-color;
}

.fourth-line{
    .line;
    background: @fourth-panel-line-color;
}

.fifth-line{
    .line;
    background: @fifth-panel-line-color;
}

.sixth-line{
    .line;
    background: @sixth-panel-line-color;
}

.seventh-line{
    .line;
    background: @seventh-panel-line-color;
}

.absolute-center{
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    border-radius: 5px;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 50px;
    cursor: pointer;
    color: white;
}

.first-button {
    .button;
    background-color: @first-panel-button-color;
    border-bottom: 6px solid @first-panel-button-border-color;
}

.seventh-button {
    .button;
    background-color: @seventh-panel-button-color;
    border-bottom: 6px solid @seventh-panel-button-border-color;
}

.row{
    .absolute-center;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.row-item{
    .absolute-center;
    margin: 15px 15px 15px 15px;
    flex-direction: column;

}

.icon-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.icon-row-item{
    .row-item;
    width: 30px;
    height: 30px;
    margin: 0px 5px 5px 5px;
    border-radius: 50%;
    color: @icon-row-item-color;
    background-color: @icon-row-item-background;
}

.service-item{
    .row-item;
    width: 200px;
}

.row-item-image{
    margin: 50px 0px 50px 0px;
    max-width: 100%;
}

.row-item-image-circle{
    .row-item-image;
    border-radius: 50%;
}

.row-item-title{
    font-weight: bold;
    font-size: @row-item-title-font-size;    
}

.row-item-title-sub-text{
    color: @row-item-title-sub-text-color;
}

.testimonial-row{
    .row;      
}

.testimonial{
    .absolute-center;
    @media screen and (max-width : 760px){  
        width: 100%;
    }
    width: 50%;
    flex-direction: row;
}

.portfolio-row{
    .row;
    padding: 50px;
    width: 400px;
}

.portfolio-row-item-image{
    max-width: 540px;
    width: 100%;
}

.portfolio-link{
    border-radius: 5px;
    padding: 5px 20px;
    font-size: @portfolio-link-font-size;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: @portfolio-link-color;
}

.portfolio-link:hover {
    color: black;
    background-color: @portfolio-link-active-color;
}

.testimonial-content{
    flex-direction: column;
    text-align: left;
    padding: 50px;
    p{
      font-size: @testimonial-font-size;
      font-style: italic;
    }

    .testimonial-item-title{
        .row-item-title;
    }

    .testimonial-sub-title{
        color: @testimonial-sub-title-color;
    }

}

.testimonial-image{
    width: 20%;
    border-radius: 50%;    
}

